:root {
  --background_sidebar: #E9E9E9;
  --white: #FFFFFF;
  --background_sidebar_hover: #e3e3e3;
  --background_sidebar_active: #DDDDDD;
  --color_gray_word: #696866;
  --color_glyphicon: #747474;
  --color_border_input: #EDEDED;
  --bacground_button_add_cand: var(--background_sidebar_active);
  --color_plus_button_add_cand: #989897;
  --bacground_button_add_cand_active: #d3d3d3;
  --black: #000000;
  --background-stage-interview: #F4F4F4;
  --border-information-full: #F1F1F1;
  --color-h4-grey: #777;
  --color-green: #28A745;
}