      body{
        background: #e5e1e1;
      }
      fieldset{
        background: white;
        width: 175px;
      }
      .title{
      	text-align: center;
      }
      .sign-in-button{
        border-radius: 60px;
        font-family: Arial;
        color: #fff;
        font-size: 16px;
        background: #b5d9e1;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      .sign-in-button:hover{
        background: #3cb0fd;
        text-decoration: none;
      }
      .sign-in{
      	text-align: center;
      }
      .field{
      	text-align: center;
      }
      .sign-up-button{
        border-radius: 60px;
        font-family: Arial;
        color: #fff;
        font-size: 16px;
        background: #b5d9e1;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      .sign-up-button:hover{
        background: #3cb0fd;
        text-decoration: none;
      }
      .sign-up{
      	text-align: center;
      }
      .form-block{
      	margin-top: 15%;
      	margin-left: 42%;
      }