.form-header-title {
    font-size: 33px;
    font-weight: bold;
    color: #adadad;
    text-align: center;
    height: 70px;
    margin: 40px auto;
}

.login-form {
    width: 300px;
    margin: 40px auto;
}

.img-form {
    margin: auto;
    float: left;
    width: 200px;
    padding-left: 250px;
    height: 50px;
}

.create-profile {
    width: 200px;
    padding-left: 700px;
}

.login-form label, .create-profile label {
    font-size: 20px;
    font-weight: bold;
    color: #adadad;
    display: block;
}

.login-form input, .create-profile input {
    display: block;
    border: 2px solid #cfcfcf;
    font-size: 14px;
    color: #5e5e5e;
    padding: 7px 7px 8px;
    width: 300px;
    margin-bottom: 20px;

}

.login-form input:focus, .create-profile input:focus {
    outline: none;
    border-color: #717171;
}

.login-form .btn-submit {
    border: none;
    width: 130px;
    text-align: center;
    background: #979797;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 35px;
    line-height: 28px;
    padding: 0;
    margin: 0 auto;
}

.btn_submit-register {
    display: block;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
    width: 250px;
    background: #979797;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    line-height: 28px;
    color: #fff;
    text-align: center;
    height: 37px;
    margin: 100px auto;

}

.upload-button {
    display: block;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
    width: 200px;
    background: #979797;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    line-height: 28px;
    color: #fff;
    text-align: center;
    height: 37px;
    margin: 20px auto;

}

img.my-image {
    width: 230px;
    height: 190px;
}
