
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: #e8e8e8;
    box-shadow: 0 0 15px #999999;
    z-index: 100;
}

.side-bar p {
    text-align: center;
}

.side-bar table {
    position: fixed;
    width: 10%;
    height: 30%;
    border-collapse: collapse;
    text-align: left;
}

.side-bar table th {
    padding-left: 30px;
}

.side-bar table th:hover,
.side-bar table th:active,
.side-bar table th:focus {
    padding-left: 30px;
    background: #9d9d9d;
}

.side-bar table th a,
.side-bar table th a:hover,
.side-bar table th a:active,
.side-bar table th a:focus {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.search-panel {
    position: fixed;
    top: 0;
    left: 10%;
    width: 90%;
    height: 5%;
    padding-left: 30px;
    background: #e8e8e8;
    box-shadow: 0 0 15px #999999;
    z-index: 100;
}

.search-panel input {
    position: absolute;
    top: 20%;
    left: 4%;
    height: 50%;
    width: 80%;
    background: #e8e8e8;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    font-size: 15px;
    outline: none;
    box-shadow: none;
}

.search-panel input:hover,
.search-panel input:active,
.search-panel input:focus {
    position: absolute;
    top: 20%;
    left: 4%;
    height: 50%;
    width: 80%;
    background: #e8e8e8;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 15px #999999;
}

.search-panel label {
    position: absolute;
    top: 25%;
    text-decoration: none;
}

.search-panel div {
    position: absolute;
    top: 25%;
    left: 90%;

}

.search-panel div a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
}

.filter-panel {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 90%;
    height: 15%;
    background: #fff;
    z-index: 99;
}

.filter-panel p {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 20px;
}

.filter-panel .sort-by-inputs {
    position: absolute;
    top: 50%;
    left: 5%;
    height: 30px;
}

.filter-panel .sort-by-inputs > div {
    display: inline-block;
    height: 25px;
    width: 240px;
    border-radius: 10px;
    margin: 0 20px 0 0;
    background: #fff;
    border: 1px solid #e8e8e8;

}

.filter-panel .sort-by-inputs > div > input {
    top: 50%;
    margin-bottom: -10px;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    outline: none;
    border: none;
    padding-left: 5%;
}

.filter-panel .sort-by-inputs > div > button {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    background: #fff;
}

.lists-body {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 90%;
    height: 80%;
    background: #fff;
    border: 1px solid #e8e8e8;
}

.lists-body table {
    position: center;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    height: 85%;
}

.lists-body table th {
    height: 40px;
}

.lists-body table td {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    height: 90px;
    width: 25%;
}

.pages-navigation-panel {
    position: fixed;
    top: 92%;
    height: 5%;
    width: 100%;
    padding-left: 5%;
}

.pages-navigation-panel > div p {
    display: inline-block;
    margin: 20px 20px 0 0;
}

.pages-navigation-panel > div > p > button {
    border-radius: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    background: #fff;
}

.pages-navigation-panel input {
    width: 40px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #e8e8e8;

}

.pages-navigation-panel #add-position-button {
    position: fixed;
    text-align: center;
    top: 90%;
    left: 90%;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 30px;
    outline: none;
    border: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 10px rgba(122, 122, 122, 0.5);

}