body {
    background: rgba(0, 0, 0, 0.3);
}

.loginForm {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    height: 450px;
    width: 400px;
    border-radius: 5px;
    background: #fff;
}

.inputsForUserData {
    position: absolute;
    top: 50px;
    height: 300px;
    width: 300px;
    margin: 50px;

}

.inputsForUserData button,
.inputsForUserData button:focus,
.inputsForUserData button:active {
    position: absolute;
    background: #4cae4c;
    top: 250px;
    left: 100px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border-color: #4cae4c;
    cursor: pointer;

}

.loginForm p {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-size: 25px;
}

.loginForm a {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.loginForm a:focus,
.loginForm a:active,
.loginForm a:hover {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: blue;
    font-size: 15px;
}

.inputsForUserData input {
    height: 40px;
    width: 300px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    background: #fff;
    font-size: 20px;
}

.inputsForUserData input:hover,
.inputsForUserData input:focus {
    height: 40px;
    width: 300px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #2e6da4;
    outline: none;
    background: #fff;
    font-size: 20px;
}

.inputsForUserData input.correctUserData {
    height: 40px;
    width: 300px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #4cae4c;
    outline: none;
    background: #fff;
    font-size: 20px;
}

.inputsForUserData input.incorrectUserData {
    height: 40px;
    width: 300px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #c9302c;
    outline: none;
    background: #fff;
    font-size: 20px;
}

