.menu{
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #eee;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-family: sans-serif, arial, serif;
}
.menu a{
	background-color: #eee;
	color: black;
	display: block;
	padding: 22px;
	padding-left: 40px;
	font-size: 22px;
	text-decoration: none;
}
.menu a:hover{
	background-color: #ccc;
}
.menu a:active{
	background-color: #bfbfbf; 
	color: white;
}
.menu a.active{
	background-color: #bfbfbf;
}
.menu label{
	background-color: #eee;
	color: #a6a6a6;
	display: block;
	padding: 22px;
	padding-left: 40px;
	font-size: 28px;
	text-decoration: none;
}
.search-bar{
	position: fixed;
	margin-left: 300px;
	width: 100%;
	height: 60px;
	background-color: #eee;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
input[type=text]{
	position: fixed;
    width: 70vw;
    height: 60px;
    margin-left: 60px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #eee;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
.search-icon{
	position: absolute;
	margin-top: 12px;
	margin-left: 18px;
}
.search-icon img{
	object-fit: none;
	object-position: -210px -10px;
}
.notification-button{
	position: absolute;
	margin-top: 6px;
	margin-left: 74vw;
	background-color: #eee;
	border: none;
}

.notification-button img{
	object-fit: none;
	object-position: -154px -10px;
	width: 36px;
	height: 36px;
}
.exit-button{
	position: absolute;
	margin-top: 6px;
	margin-left: 78vw;
	background-color: #eee;
	border: none;
}
.exit-button img{
	object-fit: none;
	object-position: -98px -10px;
	width: 36px;
	height: 36px;
}
.filter-bar{
	height: 156px;
	width: 100%;
	background-color: white;
	position: fixed;
	margin-left: 300px;
	margin-top: 60px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.filter-bar label{
	position: absolute;
	margin-top: 30px;
	margin-left: 25px;
	font-family: sans-serif, arial, serif;
	font-size: 24px;
}

.filter-bar select{
	text-align-last: center;
	margin-top: 70px;
	margin-left: 25px;
    overflow: hidden;
    width: 80px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: #d9d9d9;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.table-block{
	font-family: sans-serif, arial,serif;
	color: #666666;
	position: fixed;
	margin-left: 300px;
	margin-top: 216px;
	width: 100%;
	height: 706px;
	overflow: auto;
}
.table-block table, th, td{
	border-top: 1px solid #ddd;
	border-collapse: collapse;
}
.table-block th{
	width: 21vw;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.table-block td{
	text-align: center;
	padding-top: 44px;
	padding-bottom: 44px;
}
.bottom-bar{
	position: fixed;
	width: 100%;
	height: 8vh;
	margin-left: 300px;
	margin-top: 924px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.bottom-bar label{
	position: fixed;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 14px;
	font-family: sans-serif, arial, serif;
}
.bottom-bar select{
	position: fixed;
	margin-top: 20px;
	margin-left: 150px;
	border: none;
    box-shadow: none;
    background-color: white;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.bottom-bar input{
	position: fixed;
	margin-top: 20px;
	margin-left: 210px;	
	width: 100px;
	height: 20px;
	border: none;
}
.left-arrow{
	position: fixed;
	margin-left: 350px;
	margin-top: 17px;
	border: none;
	background-color: white;
}
.left-arrow img{
	object-fit: none;
	object-position: -54px -10px;
	width: 24px;
	height: 24px;
}
.right-arrow{
	position: fixed;
	margin-left: 400px;
	margin-top: 17px;	
	border: none;
	background-color: white;
}
.right-arrow img{
	object-fit: none;
	object-position: -10px -10px;
	width: 24px;
	height: 24px;
}
.add-button{
	position: absolute;
	margin-left: 92vw;
	margin-top: 88vh;
	border: none;
	background-color: transparent;
	border-radius: 50%;
}
.add-button img{
	object-fit: none;
	object-position: -266px -10px;
	width: 72px;
	height: 72px;
}